.git
.gitignore
node_modules
.artifacts
*.tar
*.tar.gz
*.log
.DS_Store
coverage
dist
tmp
docs/*.txt
docs/*.log
docs/*.json
docs/*.out
docs/*.output
docs/*.trace
docs/*.dump
docs/**/*.txt
docs/**/*.log
docs/**/*.json
docs/**/*.out
docs/**/*.output
docs/**/*.trace
docs/**/*.dump
