---
import ChatbotUI from "../components/ChatbotUI.tsx";
import FrameLayout from "../layouts/FrameLayout.astro";
---
<FrameLayout title="Motherboard Dash" subtitle="Command Console">
  <div style="height: 450px; overflow: hidden; padding-bottom: 1rem;">
    <ChatbotUI client:only="react" />
  </div>
</FrameLayout>
