---
import OpsStreamTicker from "./OpsStreamTicker.tsx";
---
<!-- Wrapper now has NO background color at all -->
<div style="margin-top: 2rem; display: flex; justify-content: center;">
  <OpsStreamTicker client:only="react" />
</div>
