---
import OpsStreamTicker from "./OpsStreamTicker.tsx";
---
<div style="margin-top: 2rem; display: flex; justify-content: center;">
  <div style="background: transparent;"> <!-- Removed green background -->
    <OpsStreamTicker client:only="react" />
  </div>
</div>
