---
import OpsStreamTicker from "./OpsStreamTicker.tsx";
---
<div style="display: flex; justify-content: center; margin-top: 2rem; background: none;">
  <OpsStreamTicker client:only="react" />
</div>
