
name: CI Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Launch Environment
        run: docker compose up --build -d

      - name: Wait for services to be ready
        run: sleep 10

      - name: Run Tests
        run: ./run_tests.sh

